.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://source.unsplash.com/wizj0ppghD0/1920x1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.standard-background {
  background-image: url("https://source.unsplash.com/wizj0ppghD0/1920x1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
}

.social-icon i {
  position: relative;
  top: 0.8rem;
  font-size: 1.75rem;
}

.program-icon:hover {
  width: 0;
  height: 0;
  padding: 64px 0 0 64px;
}

.program-icons .icon-csharp {
  background: url(/img/csharp/csharp_hover.png);
}

.program-icons .icon-kotlin {
  background: url(/img/kotlin/Kotlin_hover.png);
}

.program-icons .icon-js {
  background: url(/img/js/js_hover.png);
}

.program-icons .icon-ts {
  background: url(/img/ts/ts_hover.png);
}

.program-icons .icon-html {
  background: url(/img/html/html-5-icon_hover.png);
}

.program-icons .icon-css {
  background: url(/img/css/css_hover.png);
}

.program-icons .icon-xml {
  background: url(/img/xml/xml_hover.png);
}

.program-icons .icon-vue {
  background: url(/img/vue/vuejs_hover.png);
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #62686e;
}

.contact-icon i {
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
}

.contact-icon i:hover {
  color: #fff;
}
